@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen;
}

@layer components {
  p {
    @apply select-none;
  }

  .sideMenu {
    @apply fixed z-40 px-4 pt-6 top-0 left-0 w-56 h-screen bg-[#473BF0];
    transition: .5s ease;
  }

  .lists span {
    transition: .3s ease;
  }

  .lists:hover span {
    @apply w-full;
  }

  .play {
    @apply w-[12px] h-[12px] bg-[#68D585];
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }

  .ctaBody {
    @apply relative flex flex-wrap justify-center items-center gap-[331px] max-lg:gap-11 max-lg:py-8 max-lg:px-4 mt-[109px] min-h-[745px];
    background-image: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}